body {
  height: fit-content;
}

.bookings-index-background {
  background-color: #000000;
  background-image: url('https://res.cloudinary.com/mberthier/image/upload/v1597329943/stars_kgzgyj.png');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.your-bookings-header {
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

.my-planets-bookings,
.my-booking-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookings-header {
  color: white;
}


// PLANET LIST

.booking-flex-box {
  display: flex;
}

.planet-info-left {
  width: 50%;
}

.planet-info-right {
  width: 50%;
  place-self: center;
  text-align-last: center;
}

// PLANET IMAGE
.planet-img {
  width: 400px;
  height: 100%;
}

.booking-list {
  margin: 20px 0px;
  padding-bottom: 2px;
  border-top: 2px solid #000000;
}

// PLANET NAME
.planet-name {
  color: #ffffff;
  margin-bottom: 40px;
}

li.booking-info {
  list-style: none;
  margin: 0px 0px 39px 0px;
  border-bottom: 2px solid #ffffff;
  padding-top: 0px;
  padding-bottom: 25px;
}

// BOOKING DATES
.booking-dates {
  color: #7fcfef;
  margin-bottom: 30px;
}

.booking-dates li {
  list-style: none;
}

// BOOKING STATUS
.status-info {
  width: 230px;
  text-align: center;
}

.booking-confirmed {
  color: #409b40;
  padding: 8px;
  border: 2px solid #409b40;
}

.booking-not-confirmed {
  padding: 8px;
  color: #9b4040;
  border: 2px solid #9b4040;
}
